<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <div class="container-fluid-profile">
        <h1>User Profile</h1>
        <img id="user" src="/images/user.png" style="width:100px;height:100px" alt="Profile" />
        <p>Name: {{user.NAME}}</p>
        <p>Email: {{user.EMAIL}}</p>
    </div>
    
</body>
</html>